body {
  margin: 0;
  font-family: Arial;
}

#map {
  height: 100vh;
}

.search-box {
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
}

.search-box input {
  padding: 8px;
  width: 150px;
}

.search-box button {
  padding: 8px 15px;
  cursor: pointer;
}
